<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
      
    </startup>

	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="x86"/>
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.Core" publicKeyToken="e8e24ccd28363fe9" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.1" newVersion="1.8.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
	</runtime>

  <connectionStrings>
    <add name="connString" connectionString="Server=sql.freeasphost.net\MSSQL2016;Database=dafimjesalica_baza;User Id=dafimjesalica;Password=123;"/>
  </connectionStrings>

  <appSettings>
    <add key="smtpServer" value="smtp.gmail.com"/>
    <add key="smtpPort" value="587"/>
    <add key="smtpEmail" value="98y5DGbp7B@gmail.com"/>
    <add key="smtpPass" value="b66y-QWPk#"/>
    <add key="regexPatern" value="^[a-zA-Z0-9.!#$%'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"/>
    
  </appSettings>



    
</configuration>
